*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

html, body{
    height: 100%;
}

body{
    background-color: #588e43; 
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
        /* border: 1px solid black; */
    background-color: #62a846;
    padding: 0.5em 0;

}

header > h1{
    color: #7e6aa5;
    letter-spacing: 0.5em;
}

#btnObstacles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 1em;
    font-size: 1.5em; 
    padding: 0.2em 1em;
    cursor: pointer;
}

#btnObstacles:hover{
    color: ;
    border-color: ;
    background-color: ;
}

#btnObstacles > #add{
   flex-basis: 50%; 
   background-color: whitesmoke;
   
}

#btnObstacles > span{
    flex-basis: 50%;

}

#score{
    /* width: 100px;  */
    border: 3px solid whitesmoke;
    border-radius: 1em; 
    color: whitesmoke;
    font-size: 1.5em;
    padding: 0.2em 1em;

}



#container{
    /* border: 1px solid black; */
    /* padding: auto; */
    /* margin: 0 auto; */
    padding: 1em 0;
    display: flex;
    justify-content: center;
    /* border-radius: 1em; */
}

canvas{
    margin: auto;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: #62a846;
    height: 4em;

}

footer > h4{
    color: #7e6aa5;
}
