*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

html, body{
    height: 100%;
}

body{
    background-color: #588e43; 
}

#container{
    padding: 1em 0;
    display: flex;
    justify-content: center;

}

header > h1{
    color: #7e6aa5;
    /* color: linear-gradient(to right, #7670a5 , #7e6aa5); */
    letter-spacing: 0.5em;
    padding: 0.2em 0;
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #62a846;
    padding: 0.5em 0;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}



#btnObstacles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 1em;
    font-size: 1.5em; 
    padding: 0.2em 1em;
    cursor: pointer;
}

#btnObstacles:hover{
    color: #7670a5;
    border-color: #7670a5;
    background-color: #16561c;
}

#score{
    border: 3px solid whitesmoke;
    border-radius: 1em; 
    color: whitesmoke;
    font-size: 1.5em;
    padding: 0.2em 1em;

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: #62a846;
    height: 4em;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

footer > h4{
    color: #7e6aa5;

}
